@tailwind base;
@tailwind components;
@tailwind utilities;

/* App styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-slow {
  0% {
    box-shadow: 0 0 0px rgba(255, 166, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 166, 0, 0.7);
  }
}

/* Utility classes */
.animate-spin-slow {
  animation: spin-slow 3s ease-in-out infinite;
}

.glowing-ring {
  box-shadow: 0 0 8px rgba(255, 166, 0, 0.6);
}


@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0px orange);
  }
  50% {
    filter: drop-shadow(0 0 8px orange);
  }
  100% {
    filter: drop-shadow(0 0 0px orange);
  }
}

.animate-glow {
  animation: glow 2s infinite ease-in-out;
}
